<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shopfor snoop</title>
</head>
<body>
    <h1>Home page:</h1>
    <p>we are shaped by our love of heritage, a feeling for texture and forever crush on colour. It all begins with a daydream, a whim, a wave of nostalgia ~ but it is our makers who translate our reverie into a wearable reality. 

With decades of experience working in fashion apparel we have been fortunate to build meaningful relationships with like minded makers. With many BOTEH pieces finished by hand, the ageless beauty of BOTEH is the handiwork of craftspeople who graciously lend their culture to our process ~ from print mills and machinists to embroiderers and many clever hands and beautiful minds in-between. </p>
<img src="{{url_for('static',filename='images.png')}}">
<h1><a href="/cart">go to cart</h1>
<h1><a href="/product">go to products</h1>
</body>
</html>